.header{
    width: 100%;
    background-color: darkorange;
    height: 150px;
}
.left-section{
    width: 20%;
    float: left;
    height: 400px;
    background-color: orchid;
}
.right-section{
    width: 80%;
    float: left;
    height: 400px;
    background-color: darkslateblue;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: darkslategrey;
}
.content{
    height: 400px;
}
body{
    margin: 0;
}