.khaleej{
    cursor: pointer;
    color:#000 ;
     margin-left: 40%;
     margin-top: 1%;
    }
    .date{
        font-size: 14px;
        font-family: 'proxima_novaregular';
        margin-left: 40%;
    }
    .button{
        cursor: pointer;
        color: #fff;
        background: #0179c8;
        border: #0179c8;
        border-radius: 3px;
        margin-left: 70%;
        margin-top: 8px;
        height: 40px;
        width: 110px;
        font-size: 20px;
    }
    .bar{
        background: #0179c8;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px;
             
            
   }
    .menu{
        cursor: pointer;
        font-size: 20px;
        display: inline;
        color: #fff;
        width: 50px;
        border-left: 2px solid;
        border-color: #fff;
        padding: 5px 7px 5px 5px;
               
    }
    .ad{
        cursor: pointer;
        margin-left: 10%;
        height: 300px;
    }
    .main-content{
        cursor: pointer;
        padding-top: 50px;
                     
                
    }
     .left-section{
    padding-left: 50px;
    width: 23%;
    float: left;
    margin-left: 6.5%;
    }
     .centre-section{
       
       width: 33%;
        float: left;
       height: 100%;
       
       
     }       
     .right-section{
    
        width: 30%;
        height: 100%;
        float: right;
                    
     }
     .image{
        width: 150px;
        display: inline;

     }
     .image1{
        width:500px;
        height: 270px;
       
     }

     .centre-section h2 {
        display: inline-block;
        color: black;
        
     }
     div h2{
        font-family: 'Montserrat',sans-serif;   
        color: #000;
        font-weight: 600px;
        font-size: 16px; 
        padding: 10px;
        
     }
     div h2:hover{
        color: #0179c8;
     }
     div .menu:hover{
        text-decoration: underline;

     }
