#header{
    background-color: #333333;
    width: 100%;
    height: 60px;
}
body{
    margin: 0%;
    background-color: aliceblue
    }
#top{
    background: #fef8d5;
    width: 100%;
    height: 50px;
      }

.show{
    padding-left: 300px;
    color: #333;
    text-decoration: underline;
    font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 20px;
    
}
#table-header{
  
    color: #fff;
    display: flex;
    flex-direction: row;
    padding-left: 400px;
    padding-top: 15px;
    cursor: pointer;
    font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
} 

#table-header div{
    display: inline;
    padding: 10px;
    margin: 2px;

   
}
#table-header div:hover{
    background-color:black;
}
.table-row{
       padding-left: 20px;
   
}
.logo{
    position: absolute;
    height: 150px;
    width: 110px;
    background-color: #c60c30;
    margin-left: 270px;
    cursor: pointer;
 
}
.emirates{
    margin-top: 70px;
}
.main-body{
    width: 100%;
    
}

.image{
    height: 500px;
      
}    
.para{
   position: absolute;
   top: 200px;
   left: 20px;
   margin-left: 300px;
   margin-top: 60px;
  
}
.para1{
    font-size: 40px;
    color: #fff;
    font-style: italic;
    margin: 0%;
    font-weight: bold;


}
.para2{
    font-size: 100px;
    color: #fff;
    font-style: italic;
    margin: 0%;
    font-weight: bold;

}
.para3{
    font-size: 30px;
    color: #fff;
    font-style: italic;
    margin: 0%;
    font-weight: bold;
    margin-left: 400px;
   }
   .learn{
   position: absolute;
   top: 500px;
   left: 50%;
   }
   .btn{
    color: #fff;
    background-color: #d71921;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 180px;
    font-weight: 1000;
   }

   #flight-search-container{
    cursor: pointer;
    position: absolute;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 25px;
    width: 70%;
    height: 300px;
    top: 90%;
    left: 20%;
    background-color: #fff;               
   }
   
   .menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: inherit;
    padding: 0%;
    width: 100%;
    margin: 0 auto;
   
}
 .menu li{
   
    border-style:solid;
    border-color: grey;
    padding: 15px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    border-width: 1px;
    float: left;
    
}
    .flight{
        position: inherit;
        display: flex;
        width: 100%;
        list-style: none;
        margin-top: 90px;
        
    }
    .flight li{
        border-style: solid;
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        height: 30px;
        margin: 10px;
        border-width: 1px;
        padding: 20px;
        width: 300px;
    }
    #service{
        cursor: pointer;
        position: absolute;
        top: 160%;
        left: 30%;
        font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
        width: 70%;
        height: 200px;
        top: 160%;
        left: 20%;
                

    }
    #choice{
        text-decoration: underline;
        list-style: none;
        display: flex;
        background-color: #fff;

    }
    #choice li{
        border-style:solid;
        border-color: grey;
        text-align: center;
        /* display: table-cell; */
        height: 80px;
        padding: 20px;
        border-width: 1px;
    }

    #service{
        display: flex;
    }

    #service h2{
        color: #666666;
        border-style:solid;
        border-color: grey;
        text-align: center;
        /* display: table-cell; */
        height: 80px;
        padding: 20px;
        border-width: 1px;
        text-decoration: underline;

    }
    #service h2:hover{
        border-bottom:  solid #c60c30;
        transition: ease-in;
    }
    
        

       

    